*.iml
.idea
target/
velocity.log*
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
.*.swp
.DS_Store
.settings
.project
.classpath
target
bin
*.bak
*.log
.svn
*.versionsBackup
/dalgen/*-prefs.properties